
  <div class="forms">
  <div class="form-content">
    <div class="login-form">
      <h1>Login</h1>
        <div class="input-boxes">
          <div class="input-box">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Enter your password" required>
          </div>
          <div class="text"><a href="#">Forgot password?</a></div>
          <div class="button input-box">
            <input type="submit" value="Login">
          </div>
        </div>
    </div>
  </div>
</div>




