<sb-layout-blog>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{"Join to GroupBy"}}</h1>
                    <span class="subheading">{{"Visit your favorite groups"}}</span>
                    <a class="btn btn-primary" href="">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</header>
</sb-layout-blog>
