/* You can add global styles to this file, and also import other style files */

html{
  --main-color: #F96F5D;
  --sidenav-color: #323232;
  --second-sidenav-color: #464646;
  height: 100%;
}
body{
  min-height:100%;

}


