<sb-layout-blog>
    <sb-clean-blog-header backgroundImage='url("assets/img/updates.jpg")' heading="What's new" subHeading="These are the changes we've made recently" [siteHeading]="true">
    </sb-clean-blog-header>
    <ng-container>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a>
                        <h2 class="post-title">{{"Version 1.0"}}</h2>
                        <h3 class="post-subtitle">{{"GroupBy is now available!"}}</h3>
                    </a>
                    <p class="post-meta">{{"December 26, 2021"}}</p>
                </div>
                <div class="post-preview">
                    <a>
                        <h2 class="post-title">{{"Working in progress"}}</h2>
                        <h3 class="post-subtitle">{{"Our developers are working to release first version of software"}}</h3>
                    </a>
                    <p class="post-meta">{{"December 25, 2021"}}</p>
                </div>
                <div class="post-preview">
                    <a>
                        <h2 class="post-title">{{"Plans"}}</h2>
                        <h3 class="post-subtitle">{{"We are going to create system for groups of users"}}</h3>
                    </a>
                    <p class="post-meta">{{"December 24, 2021"}}</p>
                </div>
            </div>
        </div>
    </div></ng-container>
</sb-layout-blog>
