
<div class="sidebar">
  <div class="logo-details">

    <div class="logo_name">GroupBy</div>
    <i class='bx bx-menu' id="btn" (click)="toggleSideBar()" ></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class='bx bx-search' (click)="toggleSideBar()"></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Browse your groups</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-home' ></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-category-alt' ></i>
        <span class="links_name">Find new groups</span>
      </a>
      <span class="tooltip">Find new groups</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user' ></i>
        <span class="links_name">Profile</span>
      </a>
      <span class="tooltip">Profile</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat' ></i>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-bell' ></i>
        <span class="links_name">Notifications</span>
      </a>
      <span class="tooltip">Notifications</span>
    </li>


    <li>
      <a href="#">
        <i class='bx bx-cog' ></i>
        <span class="links_name">Settings</span>
      </a>
      <span class="tooltip">Settings</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-help-circle' ></i>
        <span class="links_name">Help</span>
      </a>
      <span class="tooltip">Help</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <img src="/assets/img/error-404-monochrome.svg" alt="profileImg">
        <div class="name_job">
          <div class="name">user1234</div>
          <div class="job">John Doe</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out" (click)="logout()"></i>
      <span class="tooltip">Logout</span>
    </li>
  </ul>
</div>
<section class="home-section">

  <div class="text">Your groups</div>
<!--
  <div class="groups">
          <div class="group-content">
            <div class="group-icon"><img src="assets/img/error-404-monochrome.svg"> </div>
            <h4>Bootstrap</h4>
            <p>biblioteka CSS, rozwijany przez programistów Twittera, wydawany na licencji MIT[1].</p>

          </div>

          <div class="group-content">
            <div class="group-icon"><img src="assets/img/error-404-monochrome.svg"> </div>
            <h4>Bootstrap</h4>
            <p>biblioteka CSS, rozwijany przez programistów Twittera, wydawany na licencji MIT[1]. Zawiera zestaw przydatnych narzędzi ułatwiających tworzenie interfejsu graficznego stron oraz aplikacji internetowych. Bazuje głównie na gotowych rozwiązaniach HTML oraz CSS (kompilowanych z plików Less[2]) i może być stosowany</p>

          </div>

          <div class="group-content">
            <div class="group-icon"><img src="assets/img/error-404-monochrome.svg"> </div>
            <h4>Bootstrap</h4>
            <p>biblioteka CSS, rozwijany przez programistów Twittera, wydawany na licencji MIT[1]. Zawiera zestaw przydatnych narzędzi ułatwiających tworzenie interfejsu graficznego stron oraz aplikacji internetowych. Bazuje głównie na gotowych rozwiązaniach HTML oraz CSS (kompilowanych z plików Less[2]) i może być stosowany</p>

          </div>

          <div class="group-content">
            <div class="group-icon"><img src="assets/img/error-404-monochrome.svg"> </div>
            <h4>Bootstrap</h4>
            <p>biblioteka CSS, rozwijany przez programistów Twittera, wydawany na licencji MIT[1]. Zawiera zestaw przydatnych narzędzi ułatwiających tworzenie interfejsu graficznego stron oraz aplikacji internetowych. Bazuje głównie na gotowych rozwiązaniach HTML oraz CSS (kompilowanych z plików Less[2]) i może być stosowany</p>

          </div>

        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="group-content">
            <div class="group-icon"><img src="assets/img/error-404-monochrome.svg"> </div>
            <h4>Bootstrap</h4>
            <p>biblioteka CSS, rozwijany przez programistów Twittera, wydawany na licencji MIT[1]. Zawiera zestaw przydatnych narzędzi ułatwiających tworzenie interfejsu graficznego stron oraz aplikacji internetowych. Bazuje głównie na gotowych rozwiązaniach HTML oraz CSS (kompilowanych z plików Less[2]) i może być stosowany</p>

          </div>
        </div>

        <div class="col-lg-3 col-md-4 d-flex mt-4 mt-md-0">
          <div class="group-content">
            <div class="group-icon"><img src="assets/img/error-404-monochrome.svg"> </div>
            <h4>Bootstrap</h4>
            <p>biblioteka CSS, rozwijany przez programistów Twittera, wydawany na licencji MIT[1]. Zawiera zestaw przydatnych narzędzi ułatwiających tworzenie interfejsu graficznego stron oraz aplikacji internetowych. Bazuje głównie na gotowych rozwiązaniach HTML oraz CSS (kompilowanych z plików Less[2]) i może być stosowany</p>

          </div>
        </div>

  </div>
  -->


  <div class="wrapper-grid">
    <div class="container">
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="name">Groupa błyskawicznegoasdsadsadsa reagowania12345678 asdas a sdsadsa</p>
    </div>

    <div class="container">
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="name">Anna Marie</p>
    </div>

    <div class="container">
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="name">Anna Marie</p>
    </div>

    <div class="container">
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="name">Anna Marie</p>
    </div>

    <!-- FOR LOOKING FOR A GROUP -->
    <!--
    <div class="container">
      <div class='banner-img'></div>
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="name">Anna Marie</p>
      <p class="description">Hi there! My name is Anna and I am a book lover, traveler and professional blogger. Follow me to stay connected!</p>
      <button class='btn'>Follow</button>
    </div>

    -->
    <div class="container">
      <img src='https://images.unsplash.com/photo-1444011283387-7b0f76371f12?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='profile image' class="profile-img">
      <p class="name">Anna Marie</p>
    </div>

  </div>

  </section>

