<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="social-menu">
                    <ul>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-github"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>


                    </ul>
                </div>
                <p class="copyright text-white-50">Copyright © 2021 All rights reserved | This application is made by <a href="">Grzegorz Bielesza</a></p>
            </div>
        </div>
    </div>
</footer>
